---
import BaseLayout from "../../layouts/BaseLayout.astro";
import GalleryGrid from "../../components/GalleryGrid.jsx";

const images = [
  "/images/consulting1.jpg",
  "/images/consulting2.jpg",
  "/images/consulting1.jpg",
  "/images/consulting2.jpg",
  "/images/consulting1.jpg",
  "/images/consulting2.jpg",
];
---

<BaseLayout title="Galerie | EURO ASIA EDUCATION">

  <section>
    <div class="container">
      <GalleryGrid client:load images={images} />
    </div>
  </section>
</BaseLayout>
    