---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

import Consulting from "../../content/services/1.mdx";
// import Applications from "../../content/services/applications.mdx";
// import Visas from "../../content/services/visas.mdx";
---

<BaseLayout title="Services | EURO ASIA EDUCATION">
  <Header lang="ro" />

  <div class="container">
    <Consulting />

  </div>
</BaseLayout>
