---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Administrare from "../../content/ro/services/administrare.mdx";
import Cazare from "../../content/ro/services/cazare.mdx";
import Transport from "../../content/ro/services/transport.mdx";
import Instruire from "../../content/ro/services/instruire.mdx";
import Activitati from "../../content/ro/services/activitati/activitati.mdx";
import ARimini from "../../content/ro/services/activitati/rimini.mdx";
import ASanMarino from "../../content/ro/services/activitati/sanmarino.mdx";
import AVenetia from "../../content/ro/services/activitati/venetia.mdx";
import AOptional from "../../content/ro/services/activitati/optional.mdx";
import AExcursii from "../../content/ro/services/activitati/excursii.mdx";
import Organizare from "../../content/ro/services/organizare.mdx";
import "../../styles/global.css";

---

<BaseLayout title="Services | EURO ASIA EDUCATION">
<section class="services-section">
  <div class="container">
    <Administrare/>
    <Instruire/>
   <Transport/>
    <Cazare/>
    <Activitati/>
    <ARimini/>
    <ASanMarino/>
    <AVenetia/>
    <AOptional/>
    <AExcursii/>
    <Organizare/>
  </div>
  </section>
</BaseLayout>
