---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Administrare from "../../content/services/administrare.mdx";
import Cazare from "../../content/services/cazare.mdx";
import Transport from "../../content/services/transport.mdx";
import Instruire from "../../content/services/instruire.mdx";
import Activitati from "../../content/services/activitati/activitati.mdx";
import ARimini from "../../content/services/activitati/rimini.mdx";
import ASanMarino from "../../content/services/activitati/sanmarino.mdx";
import AVenetia from "../../content/services/activitati/venetia.mdx";
import AOptional from "../../content/services/activitati/optional.mdx";
import AExcursii from "../../content/services/activitati/excursii.mdx";


---

<BaseLayout title="Services | EURO ASIA EDUCATION">

  <div class="container">
    <Administrare/>
    <Instruire/>
   <Transport/>
    <Cazare/>
    <Activitati/>
    <ARimini/>
    <ASanMarino/>
    <AVenetia/>
    <AOptional/>
    <AExcursii/>
  </div>
</BaseLayout>
