---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Administrare from "../../content/services/1administrare.mdx";
import Cazare from "../../content/services/2cazare.mdx";
import Transport from "../../content/services/3transport.mdx";
import Instruire from "../../content/services/4instruire.mdx";
import Activitati from "../../content/services/5activitati.mdx";

---

<BaseLayout title="Services | EURO ASIA EDUCATION">

  <div class="container">
    <Administrare/>
    <Cazare/>
    <Transport/>
    <Instruire/>
    <Activitati/>
  </div>
</BaseLayout>
