---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Administrare from "../../content/services/administrare.mdx";
import Cazare from "../../content/services/cazare.mdx";
import Transport from "../../content/services/transport.mdx";
import Instruire from "../../content/services/instruire.mdx";
import Activitati from "../../content/services/activitati.mdx";

---

<BaseLayout title="Services | EURO ASIA EDUCATION">

  <div class="container">
    <Administrare/>
    <Instruire/>
   <Transport/>
    <Cazare/>


    <Activitati/>
  </div>
</BaseLayout>
