---
import BaseLayout from "../../layouts/BaseLayout.astro";

// versiune engleză a MDX-urilor
import Administrare from "../../content/en/services/administrare.mdx";
import Cazare from "../../content/en/services/cazare.mdx";
import Transport from "../../content/en/services/transport.mdx";
import Instruire from "../../content/en/services/instruire.mdx";
import Activitati from "../../content/en/services/activitati/activitati.mdx";
import ARimini from "../../content/en/services/activitati/rimini.mdx";
import ASanMarino from "../../content/en/services/activitati/sanmarino.mdx";
import AVenetia from "../../content/en/services/activitati/venetia.mdx";
import AOptional from "../../content/en/services/activitati/optional.mdx";
import AExcursii from "../../content/en/services/activitati/excursii.mdx";
import Organizare from "../../content/en/services/organizare.mdx";
import "../../styles/global.css";

const lang = "en";
const currentPath = Astro.url.pathname;
---

<BaseLayout lang={lang} currentPath={currentPath}>
  <section class="services-section">
    <div class="container">
    <Administrare/>
    <Instruire/>
   <Transport/>
    <Cazare/>
    <Activitati/>
    <ARimini/>
    <ASanMarino/>
    <AVenetia/>
    <AOptional/>
    <AExcursii/>
    <Organizare/>
    </div>
  </section>
</BaseLayout>
