---
import BaseLayout from "../layouts/BaseLayout.astro";
import ro from "../i18n/ro";
import en from "../i18n/en";

const cookieLang = Astro.cookies.get("lang")?.value;
const lang = cookieLang === "en" ? "en" : "ro";

const t = lang === "en" ? en.home : ro.home;
---

<BaseLayout lang={lang} title="Home | EURO ASIA">

  <section class="about-section">
    <h1>{t.title}</h1>
    <p>{t.text1}</p>
    <p>{t.text2}</p>
  </section>

</BaseLayout>
