---
const {
  title,
  reverse = false
} = Astro.props;
---

<section class={`block ${reverse ? 'reverse' : ''}`}>
  <div class="media">
    <slot name="media" />
  </div>

  <div class="content">
    <h2>{title}</h2>
    <slot />
  </div>
</section>

<style>
  
.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
  margin: 64px auto;
  max-width: 1200px;
  padding: 0 16px;
}

.block.reverse {
  grid-template-areas: "content media";
  background: #f8f8f8;
  padding: 30px;
  border-radius: 21px;
}

.block.reverse .content {
  grid-area: content;
}
.block.reverse .media {
  grid-area: media;
}

.media img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.content h2 {
  margin-bottom: 16px;

  background: linear-gradient(135deg, #000a42 0%, #aa0000 50%, #000a42 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 768px) {
  .block {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 10px;
  }

  .block.reverse {
    grid-template-areas:
      "media"
      "content";
  }

  .media,
  .content {
    width: 100%;
  }
}
</style>
